.env

# Python
__pycache__/
*.py[cod]

# Airflow
logs/
airflow.db
airflow.cfg
standalone_admin_password.txt

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
